.card {
  border-radius: 0.5rem;
  background-color: #f8f8f8;
  transition: 0.3s ease;
  flex: 1 1 300px;
  cursor: pointer;
}

.card:hover {
  background-color: #f0ffff;
}

.image {
  width: 100%;
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 0.5rem 0.5rem 0 0;
}

.text {
  padding: 0.8rem;
}

.title {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.author {
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 300;
  margin-bottom: 0.8rem;
}

.desc {
  line-height: 1.6;
}